
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: #000000c4;
}

/* Chat */
body .chat{
    width: 70%;
    height: 100%;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

body .chat .messages{
    height: 90%;
    width: 90%;
}

body .chat .input{
    height: 5%;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

body .chat .input textarea{
    min-height: 80%;
    min-width: 90%;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    resize: vertical;
    align-self: center;
    transition: 0.5s;
}

body .chat .input textarea:focus{
    border: none;
}

body .chat .input .error{
    color: red;
    font-size: 20px;
}


body .chat .input textarea:hover{
    scale: 1.01;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 10px 5px 32px -3px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 10px 5px 32px -3px rgba(0,0,0,0);
}

body .chat .input button{
    min-height: 100%;
    min-width: 5%;
    border-radius: 5px;
    color: #0000006e;
    background-color: transparent;
    border: 2px solid white;
    align-self: center;
    transition: 0.5s;
}

body .chat .input .send{
    color: rgb(0, 204, 255);
}

body .chat .input button:hover{
    scale: 1.2;
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 10px 5px 32px -3px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 10px 5px 32px -3px rgba(0,0,0,0);
}

/* Messages */

.messages{
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.messages .user{
    width: 100%;
    min-height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid rgb(0, 204, 255);
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
}

.messages .bot{
    width: 100%;
    min-height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid rgb(225, 0, 255);
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
}


/* Chat List */
body .chatList{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 10px 5px 32px -3px rgba(0,0,0,0.94); 
    box-shadow: 10px 5px 32px -3px rgba(0,0,0,0.94);
}

body .chatList button{
    height: 100px;
    width: 300px;
    border-radius: 20px;
    color: white;
    font-size: 30px;
    background-color: transparent;
    border: 5px solid rgb(0, 204, 255);
    transition: 0.5s;
}

body .chatList button:hover{
    scale: 1.2;
    cursor: pointer;
    background-color: rgb(0, 204, 255);
    border: none;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 10px 5px 32px -3px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 10px 5px 32px -3px rgba(0,0,0,0);
}